language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-21  ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-19.1.0

before_install:
  - chmod +x gradlew
  - chmod u+x wait_for_emulator

before_script:
  # Create and start emulator 
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &
  - ./wait_for_emulator

script:
  - ./gradlew connectedAndroidTest